{
  imports = [
    ../hardware/generated/@@HOSTNAME@@.nix

    ../modules/boot.nix
    ../modules/common.nix
    ../modules/gnome.nix
    ../modules/sway.nix
    ../modules/users.nix
    ../modules/networking.nix
    ../modules/power.nix
    ../modules/thermal.nix
    ../modules/docker.nix
    ../modules/gc.nix
  ];

  networking.hostName = "@@HOSTNAME@@";

  system.stateVersion = "26.05";
}
